@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  height: 100%;
}

.reset-list {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  display: none;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/vectors/logo.svg);
  width: 140px;
  height: 70px;
  display: block;
  margin-left: 70px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 64px;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 16px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-left: 240px;
}

.navigation-link {
  display: block;
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color:#000000;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 20px 16px
}

.navigation-link-active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 16px;
  right: 16px;
  border: 1px solid #756257;
}

.navigation-user {
  margin-left: 284px;
}

.navigation-search {
  display: block;
  background: url(../images/vectors/search.svg) no-repeat 50% 50%;
  width: 20px;
  height: 20px;
  margin-right: -9px;
}

.navigation-favorites {
  display: block;
  background: url(../images/vectors/favorites.svg) no-repeat 50% 50%;
  width: 20px;
  height: 20px;
  margin-right: 17px;
}

.circle {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 9px;
  background: #7DB54F;
  border-radius: 10px;
  padding: 5px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
}

.navigation-button {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.want-here {
  display: inline-block;
  padding: 8px 35px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color:#FFFFFF;
  text-decoration: none;
  margin-left: -4px;
}

.want-here:hover {
  background: #615048;
  border-radius: 4px;
}

.want-here:focus {
  background: #615048;
  border-radius: 4px;
}

.want-here:active {
  background: #756157;
  border-radius: 4px;
}


.button {
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.open-page-images {
  background: url(../images/photos/index-background.jpg);
  padding-top: 51px;
}

.open-page-welcome {
  display: block;
  margin-left: 357px;
}

.open-page-divider {
  display: block;
  margin-top: 25px;
}

.why-sedona-hidden {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 69px;
}

.why-sedona-description {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 90px;
}

.advantages {
  text-align: center;
}

.advantages-wrapper {
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 102px 85px;
}

.advantages-wrapper-2 {
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 112px 87px;
}

.advantages-wrapper-3 {
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 112px 87px;
}

.advantages-wrapper-4 {
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 112px 87px;
}

.advantages-wrapper-5 {
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 102px 87px;
}

.advantages-item {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-link {
  display: block;
  width: 400px;
  min-height: 385px;
}

.advantages-link:first-child {
  background-color: #82B3D3;
  height: 385px;
  color:#FFFFFF;
}

.advantages-link:nth-child(2) {
  width: 800px;
  margin-bottom: -5px;
}

.advantages-link:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-link:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-link:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-link:last-child {
  background-color: #82B3D3;
  color:#FFFFFF;
  margin-bottom: 7px;
}

.advantages-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 62px;
}

.box-title-1::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  left: 171px;
  top: 187px;
}

.box-title-5::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  left: 172px;
  top: 189px;
}

.box-title-2::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  left: 170px;
  top: 198px;
}

.box-title-3::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  left: 170px;
  top: 198px;
}

.box-title-4::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  left: 170px;
  top: 198px;
}

.box-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.description {
  color: #FFFFFF;
}

.welcome-item {
  list-style-type: none;
}

.welcome-hidden {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 57px;
  margin-right: 35px;
  margin-bottom: 1px;
}

.welcome-description {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 76px;
  margin-right: 37px;
}

.goodies {
  text-align: center;

}

.goodies-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 230px;
}

.goodies-title {
  margin-bottom: 16px;
  margin-left: 3px;
}

.goodies-item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.goodies-link {
  width: 400px;
  min-height: 385px;
}

.goodies-link:first-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.goodies-link:last-child {
  background: rgba(131, 179, 211, 0.12);
}

.interested {
  text-align: center;
}

.interested-hidden {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 82px;
  margin-bottom: -2px;
}

.interested-description {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
}

.interested-search {
  display: inline-block;
  text-decoration: none;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 74px;
}

.interested-search:hover {
  background: #615048;
}

.interested-search:focus {
  background: #615048;
}

.interested-search:active {
  background: #756157;
}

.news-letter {
  background: url("../images/photos/subscribe.jpg") no-repeat 100%;
  text-align: center;
  padding: 78px 258px 126px;
}

.news-letter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.news-letter-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.news-letter-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
  margin-top: -20px;
}

.news-letter-email {
  color: #333333;
}

.news-letter-form {
  display: flex;
  text-align: center;
  margin-top: 54px;
  margin-right: -2px;
}


.field {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background: #f2f2f2;
  color: #333333;
  width: 426px;
  border-radius: 4px 0 0 4px;
  border: 3px solid #f2f2f2;
  padding-left: 20px;
}


.news-letter-button {
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.light-button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
}

.light-button:hover {
  background: #68A2CA;
  border-radius: 0 4px 4px 0;
}

.light-button:focus {
  background: #68A2CA;
  border-radius: 0 4px 4px 0;
}

.light-button:active {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-footer {
  margin-top: -20px;
  width: 1200px;
  min-height: 120px;
  padding: 40px 70px 30px 70px;
  box-sizing: border-box;
  display: flex;
}

.page-footer-catalog {
  width: 1200px;
  min-height: 120px;
  padding: 40px 70px 30px 70px;
  box-sizing: border-box;
  display: flex;
}

.social-list-footer {
  width: 144px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-right: 42px;
  padding: 0;
}

.social-item-footer {
  width: 48px;
}

.social-link-footer {
  outline: none;
}

.social-link-footer-vk {
  padding: 13px 12px;
}

.social-link-footer-vk svg {
  fill: #83B3D3;
  stroke: none;
}

.social-link-footer-vk:hover svg {
  fill: #68A2CA;
  stroke: none;
}

.social-link-footer-vk:focus svg {
  fill: #68A2CA;
  stroke: none;
}

.social-link-footer-vk:active svg {
  fill: rgba(104, 162, 202, 0.3);
  stroke: none;
}

.social-link-footer-tg {
  padding: 12px 15px 13px 15px;
}

.social-link-footer-tg svg {
  fill: #83B3D3;
}

.social-link-footer-tg:hover svg {
  fill: #68A2CA;
}

.social-link-footer-tg:focus svg {
  fill: #68A2CA;
  outline: 0;
  outline-offset: 0;
}

.social-link-footer-tg:hover:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link-footer-youtube {
  padding: 12px 13px;
}

.social-link-footer-youtube svg {
  fill: #83B3D3;
}

.social-link-footer-youtube:hover svg {
  fill: #68A2CA;
}

.social-link-footer-youtube:focus svg {
  fill: #68A2CA;
}

.social-link-footer-youtube:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-link-footer {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}

.phone-link-footer:hover {
  color: #756157;
}

.phone-link-footer:focus {
  color: #756157;
  outline: none;
}

.phone-link-footer:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-link-footer {
  margin-left: 42px;
  margin-top: 7px;
  outline: none;
}

.logo-link-footer svg {
  fill: #000000;
}

.logo-link-footer:hover svg {
  fill: #756157;
}

.logo-link-footer:focus svg {
  fill: #756157;
}

.logo-link-footer:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.main-header {
  background: url("../images/photos/catalog.jpg") no-repeat 100%;
  max-height: 411px;
  color: #ffffff;
}

.main-header-wrapper {
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 35px;
  padding-bottom: 65px;
}

.main-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  box-sizing: border-box;
  margin-right: 10px;
}

.main-link {
  background: url("../images/vectors/house.svg") no-repeat left;
  cursor: pointer;
}

.main-icon {
  display: block;
  margin-left: 13px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background: url("../images/vectors/breadcrumbs.svg") right no-repeat;
  display: flex;
  box-sizing: border-box;
  padding: 0 0 2px 20px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.catalog-filter {
  margin-top: 40px;
}


.catalog-filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.left-wrapper {
  display: flex;
  width: 371px;
  min-height: 160px;
  gap: 62px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.catalog-filter-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control {
  display: block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  margin-top: 6px;
}

.control-mark-extra {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background: #ffffff;
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background: #ffffff url("../images/vectors/check.svg") no-repeat 50% 50%;
}

.control-input[type="radio"]:checked + .control-mark-extra::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: #3F5E72;
  border-radius: 50%;
}

.control-input-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;

}

.control:hover {
  opacity: 0.6;
}

.control:focus {
  border: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  box-sizing: border-box;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background: #ffffff;
  border-radius: 4px;
}

.right-wrapper {
  display: flex;
  max-width: 549px;
  max-height: 160px;
  gap: 83px;
}

.price {
  margin-bottom: 32px;
}

.range {
  width: 288px;
}

.range-input-wrapper {
  display: flex;
}

.range-input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  background: #f2f2f2;
  border: 3px solid #f2f2f2;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label {
  position: relative;
}

.min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.max {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background: #e6e6e6;
}

.range-input:focus-visible {
  background: #f2f2f2;
  border: 2px solid #000000;
}

.range-input:focus {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
}

.min-span {
  position: absolute;
  left: 106px;
  top: 12px;
  color: #000000;
  line-height: 24px;
  opacity: 0.3;
}

.max-span {
  position: absolute;
  right: 20px;
  top: 12px;
  color: #000000;
  line-height: 24px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 43px;
  background: grey;
  box-sizing: border-box;
}

.range-bar-div {
  position: absolute;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #000000;
  outline: none;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.filter-buttons {
  background: #82B3D3;
  margin-top: 56px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}

.filter-button {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.0);
  border: 3px solid rgba(0, 0, 0, 0.0);
  margin-top: 41px;
}

.filter-button:hover {
  opacity: 0.6;
}

.filter-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-button:active {
  opacity: 0.3;
  border: none;
}

.filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: -15px;
}

.filter-buttons:hover {
  border-radius: 4px;
}

.filter-buttons:focus {
  border-radius: 4px;
}

.hotels {
  width: 1060px;
  margin: 0 auto;
  margin-top: 38px;
}

.hotels-found {
  font-size: 30px;
  line-height: 36px;
  margin-right: 200px;
}

.hotels-wrapper {
  display: flex;
  align-items: center;
}

.select-control {
  width: 292px;
  font-size: 18px;
  font-family: inherit;
  line-height: 21px;
  color:#333333;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  border-color: #E5E5E5;
  padding: 12px 20px;
  background: url(../images/vectors/vector.svg) no-repeat;
  background-position: right 20px center;
  margin-right: 69px;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}

.select-control:active {
  border-color: #3F5E72;
}

.search-button {
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 14px;
  padding: 15px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
}

.active-button {
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 3px;
}

.search-button:first-child {
  margin-left: auto;
}

.search-button:last-child {
  margin-right: 0;
}

.search-button:hover {
  border-color: #000000;
}

.product-list {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.product-list::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 1060px;
  height: 0;
  border: 1px solid #e6e6e6;
}

.product-card {
  width: 300px;
  padding: 20px;
  border: #E6E6E6 solid 1px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.product-card:last-child {
  margin-bottom: 40px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-image {
  display: block;
  margin: 0 auto;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.product-wrapper-price {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 16px;
}

.product-card-text {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price {
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
}

.product-wrapper-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-wrapper-rating {
  display: flex;
  align-items: center;
}

.product-card-button {
  box-sizing: border-box;
  width: 140px;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 27px;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
}

.product-card-button:hover {
  background: #615048;
}

.product-card-button:focus {
  background: #615048;
  outline: none;
}

.product-card-button:active {
  background: #756157;
}

.product-card-favorites {
  box-sizing: border-box;
  width: 140px;
  margin-left: auto;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 19px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.product-card-favorites:hover {
  background: #68A2CA;
}

.product-card-favorites:focus {
  background: #68A2CA;
  outline: none;
}


.product-card-favorites:active {
  background: #82B3D3;
}


.product-card-favorite {
  box-sizing: border-box;
  width: 140px;
  margin-left: auto;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 17px;
  background-color: #7DB54F;
  border-radius: 4px;
  text-decoration: none;
}

.product-card-favorite:hover {
  background: #6C9E42;
}

.product-card-favorite:focus {
  background: #6C9E42;
  outline: none;
}

.product-card-favorite:active {
  background: #7DB54F;
}

.product-card-rating {
  box-sizing: border-box;
  width: 140px;
  margin-left: auto;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  padding: 9px 22px;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
}

.rating-card-star {
  margin-right: 6px;
}

.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 26px;
  margin-top: 40px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 23px 28px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 8px;
  justify-content: center;
  align-content: center;
}

.pagination-last {
  margin-left: 8px;
}

.pagination-item .pagination-link {
  display: flex;
  justify-content: center;
  align-content: center;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #82B3D3;
  opacity: 0.6;
}

.pagination-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 23px 26px;
  line-height: 16px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 8px;
  background: #f2f2f2;
  margin-left: 70px;
  justify-content: center;
  align-content: center;
}

.pagination-breadcrumbs {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}

.news-letter-catalog {
  text-align: center;
  color: #ffffff;
  padding: 98px 258px 104px;
  margin-top: -11px;
}

.news-letter-catalog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.news-letter-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.news-letter-catalog-description {
  width: 475px;
  margin: 0 auto;
  color: #333333;
  margin-top: -19px;
}

.modal-container {
  width: 717px;
  height: 576px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-container-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.modal-container-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 63px 72px;
}

.modal-close-button {
  background: #F2F2F2 url("../images/vectors/close.svg") no-repeat center;
  border-radius: 50%;
  border: none;
  width: 52px;
  height: 52px;
  margin: 65px 50px;
}

.modal-close-button:hover {
  background: #E6E6E6 url("../images/vectors/close.svg") no-repeat center;

}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background: #E6E6E6 url("../images/vectors/close.svg") no-repeat center;
  opacity: 0.6;
}

.dates-form-wrapper {
  width: 577px;
  margin: 64px 70px;
  margin-top: -19px;
}

.first-row-wrapper, .second-row-wrapper {
  display: flex;
  justify-content: space-between;
}

.dates-form-group {
  padding: 0;
  border: none;
}

.dates-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.error {
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  margin-left: 20px;
  margin-bottom: 23px;
  margin-top: 4px;
}

.free-places-wrapper {
  width: 440px;
  margin: 0;
}

.input {
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.input-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 440px;
  height: 48px;
  background: #F2F2F2 url("../images/vectors/date.svg") no-repeat 400px;
  box-sizing: border-box;
  border: 3px solid #F2F2F2;
  padding: 17px 17px;
}

.free-places {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 20px;
  margin-bottom: 23px;
  margin-top: 4px;
}

.input-text:hover,
.input-2:hover {
  background: #E6E6E6 url("../images/vectors/date.svg") no-repeat 400px;
  border: 3px solid #E6E6E6;
}

.input-text:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.third-row-wrapper {
  display: flex;
  justify-content: space-between;
}

.adults-wrapper {
  width: 247px;
}

.input-3 {
  width: 31px;
  height: 48px;
  text-align: center;
  padding: 0;
}

.form-childrens {
  position: relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.childrens-wrapper {
  width: 242px;
}

.adults-wrapper, .childrens-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.plus-minus-wrapper {
  display: flex;
  width: 110px;
}

.plus-minus-buttons {
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
}

.minus {
  background: #F2F2F2 url("../images/vectors/minus.svg") no-repeat center;
  border-radius: 4px 0 0 4px;
}

.plus {
  background: #F2F2F2 url("../images/vectors/plus.svg") no-repeat center;
  border-radius: 0 4px 4px 0;
}

.plus:hover {
  background: #F2F2F2;
}

.plus:focus {
  background: #F2F2F2;
  border: 3px solid #83B3D3;
}

.plus:active {
  background: #F2F2F2;
}

.minus:hover {
  background: #F2F2F2;
}

.minus:focus {
  background: #F2F2F2;
  border: 3px solid #83B3D3;
}

.minus:active {
  background: #F2F2F2;
}

.form-label {
  margin-bottom: 8px;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  background:#83B3D3 url("../images/vectors/info.svg") no-repeat center;
  border-radius: 50%;
  border: none;
  vertical-align: text-bottom;
  margin-left: 8px;
  margin-top: 9px;
}

.rectangle {
  position: absolute;
  right: -57px;
  top: 32px;
  margin-left: -19px;
  margin-top: 9px;
  transform: translateX(-50%);
  z-index: 1;
  border-left: 25px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 16px solid #333333;
  display: none;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
}

.tooltip-text {
  text-transform: none;
  padding: 22px 26px;
  width: 211px;
  position: absolute;
  top: 250%;
  margin-left: -19px;
  margin-top: 9px;
  left: 250%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:hover + .rectangle,
.tooltip-toggle:focus + .rectangle {
  display: inline;
}


.search-form-button {
  font-size: 20px;
  line-height: 24px;
  background: #83B3D3;
  border-radius: 10px;
  width: 577px;
  height: 60px;
}

.search-form-button:hover {
  border-radius: 10px;
  border: none;
}

.search-form-button:focus {
  border-radius: 10px;
}
